.venv/
.env
*.env
.vercel/
browser-model/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
node_modules/
models/
data/
deployment/*
!deployment/model/
!deployment/model/**
!deployment/deepfake_model/
!deployment/deepfake_model/**
frontend/node_modules/
frontend/dist/
dist/
external/
.vercel
